<div id="all-dishes-container">
  <div class="dish-container">
    <%= image_tag "dishes/dish_1.png", class: "dish", alt: "dish" %>
    <p class="dish-name">Escargos</p>
    <p class="dish-category">Entrees</p>
    <p class="dish-price">$15.00</p>
  </div>
  <div class="dish-container">
    <%= image_tag "dishes/dish_2.png", class: "dish", alt: "dish" %>
    <p class="dish-name">Salmon Pasta</p>
    <p class="dish-category">Second Courses</p>
    <p class="dish-price">$12.00</p>
  </div>
  <div class="dish-container">
    <%= image_tag "dishes/dish_3.png", class: "dish", alt: "dish" %>
    <p class="dish-name">Chicken Breasts</p>
    <p class="dish-category">Entrees</p>
    <p class="dish-price">$5.00</p>
  </div>
  <div class="dish-container">
    <%= image_tag "dishes/dish_4.png", class: "dish", alt: "dish" %>
    <p class="dish-name">Ground Beef</p>
    <p class="dish-category">Main Courses</p>
    <p class="dish-price">$21.00</p>
  </div>
  <div class="dish-container">
    <%= image_tag "dishes/dish_5.png", class: "dish", alt: "dish" %>
    <p class="dish-name">Veggie Salad</p>
    <p class="dish-category">Entrees</p>
    <p class="dish-price">$7.00</p>
  </div>
  <div class="dish-container">
    <%= form_with model: @dish, local: true do |f| %>
      <%= f.text_field :title, placeholder: "Title" %>
      <%= f.text_field :category, placeholder: "Category" %>
      <%= f.text_field :price, placeholder: "Price" %>
      <%= f.submit "Create", class: "submit-button" %>
      <%= f.file_field :image %>
    <% end %>
  </div>
</div>