<main>
  <div id="navbar-bottom">
    <ul id="bottom-menu">
      <li id="category">
        <b>CATEGORY</b> <%= image_tag "expand_arrow_52px.png", class: "expand-arrow", alt: "Expand arrow" %>
      </li>
      <li id="sorting">
        <b>SORTING</b><%= image_tag "expand_arrow_52px.png", class: "expand-arrow", alt: "Expand arrow" %>
      </li>
      <li id="vegetarian">
        <b>VEGETARIAN</b><%= image_tag "expand_arrow_52px.png", class: "expand-arrow", alt: "Expand arrow" %>
      </li>
    </ul>
    <div id="slider-container">
      <p id="price"><b> PRICE </b></p>
      <p id="price-starting"> $ 0</p>
      <div id="slider">
        <!--        <link href="node_modules/nouislider/distribute/nouislider.css" rel="stylesheet">-->
        <!--        <script src="node_modules/nouislider/distribute/nouislider.js"></script>-->
      </div>
      <%= javascript_include_tag "slider" %>
      <%= javascript_include_tag "slider_init" %>
      <p id="price-ending"> $ 80</p>
    </div>
  </div>
</main>