<div id="all-dishes-container">
  <% @dishes.each do |d| %>
    <div class="dish-container">
      <%= image_tag d.image, class: "dish", alt: "dish" %>
      <p class="dish-name"><%= d[:title] %></p>
      <p class="dish-category"><%= d[:category] %></p>
      <p class="dish-price">$ <%= d[:price] %>.00</p>
      <% if logged_in? %>
        <%= form_with(scope: :cart_item, url: '/cart_items', method: 'post', local: true) do |f| %>
          <div id="dish-control">
            <%= f.label :quantity %>
            <%= f.number_field :quantity, min: 1 %>
            <%= f.hidden_field :dish_id, value: d.id %>
            <%= f.submit 'Add to cart', class: 'btn btn-secondary mt-2' %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div class="dish-container">
    <div class="form-container">
      <%= form_with model: @dish, local: true do |f| %>
        <%= f.text_field :title, placeholder: "Title" %>
        <%= f.text_field :category, placeholder: "Category" %>
        <%= f.text_field :price, placeholder: "Price" %>
        <%= f.file_field :image %>
        <%= f.submit "Create", class: "submit-button" %>
      <% end %>
    </div>
  </div>
</div>
