<div id="all-dishes-container">
  <% @dishes.each do |d| %>
    <div class="dish-container animated fadeInLeft">
      <%= image_tag d.image, class: "dish", alt: "dish" %>
      <p class="dish-name"><%= d[:title] %></p>
      <p class="dish-category"><%= d[:category] %></p>
      <p class="dish-price">$ <%= d[:price] %>.00</p>
      <% if logged_in? %>
        <%= form_with(scope: :cart_item, url: '/cart_items', method: 'post', local: true) do |f| %>
          <div id="dish-control" class="form-group row">
            <div class="quantity-container">
              <%= f.label :quantity, class: "col-form-label centered-title text-muted"%>
              <%= f.number_field :quantity, min: 1, class: "form-control col-sm" %>
            </div>
            <%= f.hidden_field :dish_id, value: d.id %>
            <%= f.submit 'Add to cart', class: 'btn btn-sm' %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% if is_admin? %>
    <div class="dish-container animated fadeInRight delay-3s">
      <div class="form-container">
        <h1 class="centered-title">Add a new dish:</h1>
        <%= form_with model: @dish, local: true do |f| %>
          <%= f.text_field :title, placeholder: "Title" %>
          <%= f.text_field :category, placeholder: "Category" %>
          <%= f.text_field :price, placeholder: "Price" %>
          <%= f.file_field :image%>
          <%= f.submit "Create", class: "submit-button btn btn-danger" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
