<div id="navbar-top">
  <div id="logo-container">
    <%= image_tag "8b1591a7-6990-4acb-8f5a-34f0af512a53.jpg", id: "logo", alt: "logo" %>
    <p>EUREKA<br>CAFFE</p>
  </div>
  <ul>
    <li><%= link_to "HOME", root_path, class: "a-home" %></li>
    <li> <%= image_tag "orange_bullet_16.png", alt: "bullet", class: "bullet" %></li>
    <li><a id="a-about" href="#">ABOUT</a></li>
    <li><%= image_tag "orange_bullet_16.png", alt: "bullet", class: "bullet" %></li>
    <li><a id="a-service" href="#">SERVICE</a></li>
    <li><%= image_tag "orange_bullet_16.png", alt: "bullet", class: "bullet" %></li>
    <% if is_admin? %>
      <li><%= link_to "ADMIN PAGE", admin_path, alt: "admin" %></li>
      <li><%= image_tag "orange_bullet_16.png", alt: "bullet", class: "bullet" %></li>
    <% end %>
    <% if logged_in? %>
      <li><%= link_to "EDIT PROFILE", edit_user_path(current_user) %></li>
      <li><%= image_tag "orange_bullet_16.png", alt: "bullet", class: "bullet" %></li>

      <li><%= link_to "CART", cart_items_path %></li>
      <li><%= image_tag "orange_bullet_16.png", alt: "bullet", class: "bullet" %></li>

      <li><%= link_to "LOG OUT", logout_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "LOG IN / SIGN UP", login_path %></li>
    <% end %>
  </ul>
</div>
