<div id="navbar-top">
  <div id="logo-container">
    <%= image_tag "8b1591a7-6990-4acb-8f5a-34f0af512a53.jpg", id: "logo", alt: "logo" %>
    <p>EUREKA<br>CAFFE</p>
  </div>
  <ul>
    <li><%= link_to "HOME", root_path, class: "a-home" %></li>
    <li> <%= image_tag "orange_bullet_16.png", alt: "bullet", class: "bullet" %></li>
    <li><a id="a-about" href="#">ABOUT</a></li>
    <li><%= image_tag "orange_bullet_16.png", alt: "bullet", class: "bullet" %></li>
    <li><a id="a-service" href="#">SERVICE</a></li>
    <li><%= image_tag "orange_bullet_16.png", alt: "bullet", class: "bullet" %></li>
    <li><a id="a-blog" href="#">BLOG</a></li>
    <li><%= image_tag "orange_bullet_16.png", alt: "bullet", class: "bullet" %></li>
    <li><a id="a-contacts" href="#">CONTACTS</a></li>
    <li><%= image_tag "orange_bullet_16.png", alt: "bullet", class: "bullet" %></li>
    <li><%= link_to "SIGN UP", users_new_path %></li>
  </ul>
</div>
